doctype html
head
  title Bluerang
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    a{
    transition: all 0.25s ease;
    }
    a:hover{
    text-decoration: underline;
    }
table(style='max-width:650px;width:100%;margin: 0 auto;overflow: hidden;')
  tbody
    tr
      td
        div(style='background-color: #ffffff;background-image: url(https://i.ibb.co/wRL4cXg/background-2.png);\
        height:560px;background-size: contain;border:1px solid rgba(0,0,0,0.5);text-align: left;\
        padding:0 60px;')
          div(style='margin:85px 0 33px 0;')
            a(href='https://bluerang.com/' target='_blank')
              img(src='https://i.ibb.co/CV0V3wY/logo.png' alt='Bluerang')
          div
            p(style='color: #354052; font-size: 16px;margin:0 0 12px 0;') Hi, #{name}
            p(style='color: #354052; font-size: 16px;margin:0 0 23px 0;line-height: 21px;')
              | We feel so good to have you with us.
              | Our mission is to empower IT agencies like you and we&apos;re on it. Looking forward to having a great time with you on our platform.
            h3(style='color:#000000;font-size:20px;font-weight:bold;margin:0;\
            margin-bottom:11px;') You are just one click away.
            p(style='color:#000000;font-size: 17px;margin:0;') Hit the verify button and get back to exploring Bluerang.
            a(href=`${link}` target='_blank' style='max-height: 48px;\
              background-color: #0096E3;\
              max-width: 212px;\
              text-align: center;\
              width: 100%;\
              border-radius: 5px;\
              padding: 10px 0;\
              border: 2px solid #0096E3;\
              font-size: 18px;\
              text-transform: uppercase;\
              font-weight: 500;\
              color:#ffffff;\
              cursor:pointer;\
              outline:none;\
              display: block;\
              text-decoration: none;')  Verify
            p(style='color:#354052;font-size:16px;line-height:21px;margin:0;')
              | We promise to never spam your inbox and give your email away.
              | We will only share the information which is important for you to know.
    tr
      td
        div(style="background-image: url('https://i.ibb.co/T2Yrrs3/footer-bg.png');\
        height:180px;background-size:contain;padding:25px 60px 40px;margin-top: -5px;")
          h2(style='font-size:35px;color:#ffffff;\
          font-weight:bold;margin:0;margin-bottom:24px;display: block;text-align: center; letter-spacing: -0.5px')
            | We&apos;d love to hear from you!
          ul(style='text-align: center;margin:0;padding:0;margin-bottom: 22px;')
            li(style='display:inline-block;margin-right:16px;vertical-align: top;')
              a(href='https://twitter.com' target='_blank')
                img(src='https://i.ibb.co/r5c5LXt/twitter.png' alt='Twitter')
            li(style='display:inline-block;margin-right:16px;vertical-align: top;')
              a(href='https://in.pinterest.com/' target='_blank')
                img(src='https://i.ibb.co/xGDQzgg/pinterest.png' alt='Pinterest')
            li(style='display:inline-block;margin-right:16px;vertical-align: top;')
              a(href='https://bluerang.com/' target='_blank')
                img(src='https://i.ibb.co/N3GtBFC/linkdin.png' alt='Linkdin')
            li(style='display:inline-block;vertical-align: top;')
              a(href='https://bluerang.com/' target='_blank')
                img(src='https://i.ibb.co/5vGtRqL/instagram.png' alt='Instagram')
          div(style='text-align: center; max-width: 400px;margin:0 auto;')
            p(style='color:#ffffff;font-weight: 300;font-size: 16px;margin:0;margin-bottom: 5px;')
              | Copyright &copy; 2019 
              b(style='font-weight: 900;') Bluerang.
              |  All Rights Reserved.
            ul(style='text-align: center;margin:0;')
              li(style='display: inline-block;vertical-align: top; border-right:1px solid #ffffff;')
                a(href='mailto:hello@bluerang.com' style='color:#ffffff;text-decoration: none;padding-right: 5px;') hello@bluerang.com
              li(style='display: inline-block;vertical-align: top;')
                a(href='tel:+91-8225007007' style='color:#ffffff;text-decoration: none;') +91-8225007007
